body {
    background-color: rgb(132, 211, 218);
    background-image: url("himmel.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Helvetica Now Text;
    color: yellow;
}

h1 {
    text-align: center;
    color: rgb(14, 79, 64);
    font-size: 120px;
}

p {
    font-size: 90px;
    text-align: left;
    color: rgb(44, 108, 145);
    
}

.meineKlasse {
    font-size: 14px;
    color:coral;
}

img {
    width: 280px;
} 

.video {
    width: 400px;
    height: 220px
}

.hole-online {
    display: block;
    color: rgb(28, 28, 157);
    text-align: right;
    font-size: 80px;
}

.snake-io {
    display: block;
    text-align: right;
    font-size: 80px;
    color: rgb(28, 28, 157)
    
}

.runter {
    text-align: right;
    color: black ;

}